.app {
    background-color: rgb(245, 245, 191);
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 90vw auto;
    align-items: center;
    text-align: center;
}

.cabecalho {
    background-color: aqua;
    height: 50px;
}

.principal {
    grid-template-rows: 33% 33% 33%;
    background-color: rgb(238, 192, 132);
    height: calc(80vh - 50px);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape {
    align-items: center;
    text-align: center;
}