.app {
    background-color: rgb(245, 245, 191);
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 70vw auto;
    align-items: center;
    text-align: center;
}

.cabecalho {
    background-color: aqua;
    grid-area: cabecalho;
}

.principal {
    background-color: rgb(238, 192, 132);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rodape {
    display: table-row;
    align-items: center;
    text-align: center;
}